<section id="timetable">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">예배시간 안내</h2>
                <hr class="primary">
                <br>
                <h3>주일예배</h3>
                <p>주일공동예배<br>주일 오전 11:00, 예배당</p>
                <h3>교회학교예배</h3>
                <p>어린이부예배<br>주일 오전 11:00, 교육관</p>
                <p>정철영어성경학교<br>주일 오후 1:00, 교육관</p>
                <p>유니게학교<br>토요일 오전 10:00, 교육관</p>
                <h3>주중예배 및 기도회</h3>
                <p>새벽기도회<br>월~금 오전 5:00, 예배당</p>
                <p>수요저녁예배<br>수요일 오후 7:30, 예배당</p>
                <p>금요기도회<br>금요일 오후 8:00, 예배당</p>
            </div>
        </div>
    </div>
</section>
