<section class="bg-primary" id="vision">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">예수로 생명을, 말씀으로 변화를.</h2>
                <hr class="light">
                <p class="text-faded">우리는, 사람이 주인이 아닌 하나님이 주인 되시는 교회를 이루며, 예수 그리스도 안에 있는 생명을 붙들고 말씀에 순종함으로 날마다 거룩해지는 변화의 삶을 살기를 소망합니다. </p>
                <p>담임목사&nbsp&nbsp&nbsp<img src="img/sign.png" width="100"/></p>
                <br>
                <a class="twitter-timeline" href="https://twitter.com/TwitterDev" data-width="300" data-chrome="nofooter noheader noborders" data-tweet-limit="1">Tweets by ghdckdhkd</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</section>
